body {
  color: #333;
  font-size: 14px;
  margin: 0;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  width: 400px;
}

h1,
h2,
h3,
h4,
p {
  font-weight: normal;
  line-height: 1.25rem;
  margin: 0 0 .5rem 0;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.details .image {
  margin-right: 1.5rem;
}

.details .image img {
  width: 64px;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.controls .feedback {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: .25rem;
  color: #2196F3;
  display: inline-block;
  padding: .5rem .75rem;
  text-decoration: none;
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}

.controls .feedback:hover {
  background-color: #eee;
}

/* switch */

.switch {
  display: inline-block;
  height: 34px;
  margin-left: .5rem;
  position: relative;
  vertical-align: middle;
  width: 60px;
}

.switch input {
  margin-left: 5px;
}

.switch .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;  
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider:before {
  background-color: white;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  -webkit-transition: .4s;
  transition: .4s;
  width: 26px;
}

.switch input:checked + .slider {
  background-color: #2196F3;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}
